<div class="post{{featured_post?}}">
  <h3>{{header}}</h3>
  <p>{{published}}</p>
  <img src='{{image_file}}'/>
  <p>{{description}}</p>
  <p>{{comment_count}}</p>
  <p>Related Stories</p>
  <ul>
    {{#related_posts}}
      <li><a href="{{url}}">{{title}}</a> - {{source}}</li>
    {{/related_posts}}
  </ul>
</div>